# ignore Gemfile.lock, which throw me tons of problems
Gemfile.lock

# ignore the tempfile of org latex preview
ltximg

# ignore hiding file
.*

# ignore the _site
_site

# ignore the _sketch
_sketch

# however, do not ignore .gitignore file
!.gitignore
!.github
/_posts/*.html
