* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #7B0019;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 40em;
  color: white;
}

.box {
  background-color: #47002E;
  width: 80%;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  border: 2px solid #30001B;
}

div strong {
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 150%;
}

button {
  height: 2em;
}

.codebox {
  background-color: #FFD9EF;
  width: 90%;
  height: 15em;
  margin-left: 5%;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #6800A0;
  font-size:1em;
}

#loaded_code {
  background-color: #FFD9EF;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #6800A0;
}

.message {
  background-color: #FFD9EF;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #6800A0;
  text-align: 1em;
}
